# Available versions: https://hadoop.apache.org/releases.html
hadoop_version: 3.4.1  # 2024-03-17 / checked 2024-10-21
# Available versions: https://github.com/GoogleCloudDataproc/hadoop-connectors
hadoop_gcs_connector_version: 3.0.3  # 2024-10-17 / checked 2024-10-21
# Available versions: https://mvnrepository.com/artifact/org.apache.hadoop/hadoop-aws
hadoop_aws_version: 3.4.1
# Note: the version must be what is shown in the "compile dependencies" section of hadoop-aws
hadoop_aws_java_sdk_version: 1.12.720

_github_actions: '{{ lookup("ansible.builtin.env", "GITHUB_ACTIONS") }}'
_hadoop_endpoint: https://downloads.apache.org/hadoop/common/hadoop-{{ hadoop_version }}
_hadoop_home: /opt/hadoop
_hadoop_lib_dir: '{{ _hadoop_home }}/share/hadoop/common/lib'
_hadoop_ld_lib_dir: '{{ _hadoop_home }}/lib/native'
# Endpoint: https://cloud.google.com/dataproc/docs/concepts/connectors/cloud-storage#non-clusters
_hadoop_gcs_endpoint: https://storage.googleapis.com/hadoop-lib/gcs
_hadoop_gcs_jar_file: gcs-connector-{{ hadoop_gcs_connector_version }}.jar
_hadoop_aws_endpoint: https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws
_hadoop_aws_jar_file: hadoop-aws-{{ hadoop_aws_version }}.jar
_hadoop_aws_java_sdk_endpoint: https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle
_hadoop_aws_java_sdk_jar_file: aws-java-sdk-bundle-{{ hadoop_aws_java_sdk_version }}.jar

_current_hadoop_version: '{{
  lookup("ansible.builtin.pipe", "{{ _hadoop_home }}/bin/hadoop version 2>/dev/null || echo none")
  |regex_search("Hadoop [0-9.]+", multiline=True)|regex_search("[0-9.]+")
}}'
