# Available versions:
# * https://cloud.google.com/sdk/docs/release-notes
# * https://github.com/GoogleCloudPlatform/cloud-sql-proxy/releases
gcloud_cli_version: 497.0.0  # 2024-10-15 / checked 2024-10-21
cloud_sql_proxy_version: 2.13.0  # 2024-08-14 / checked 2024-10-21

_gcloud_cli_dir: /opt
_gcloud_cli_home: '{{ _gcloud_cli_dir }}/google-cloud-sdk'
_gcloud_cli_bin: '{{ _gcloud_cli_home }}/bin/gcloud'
_gcloud_cli_endpoint: https://storage.googleapis.com/cloud-sdk-release

_current_gcloud_cli_version: '{{
  lookup("ansible.builtin.pipe", "{{ _gcloud_cli_bin }} --version 2>/dev/null || echo none")
  |regex_search("none|Google Cloud SDK [0-9.]+", multiline=True)|regex_search("none|[0-9.]+")
}}'

_cloud_sql_proxy_endpoint: https://storage.googleapis.com/cloud-sql-connectors/cloud-sql-proxy
_cloud_sql_proxy_bin: '{{ _gcloud_cli_home }}/bin/cloud-sql-proxy'

_current_cloud_sql_proxy_version: '{{
  lookup("ansible.builtin.pipe", "{{ _cloud_sql_proxy_bin }} --version 2>/dev/null || echo none")
  |regex_search("none|[0-9.]+")
}}'
