- name: Install dependencies
  become: true
  ansible.builtin.apt: name=jq

- name: Install AWS CLI
  become: true
  community.general.snap: name=aws-cli channel=v{{ aws_cli_major_version }}/stable classic=true

- name: Install command scripts
  become: true
  ansible.builtin.copy: src=bin/ dest=/usr/local/bin/ mode=0755

- name: Install Bash config
  ansible.builtin.copy: src=aws.bashrc dest=~/.bashrc.d/
