- name: Create installation folder
  ansible.builtin.file: path=~/.local/share/ state=directory

- name: Install Terraform environment manager
  ansible.builtin.git:
    repo: https://github.com/tfutils/tfenv.git
    dest: ~/.local/share/tfenv
    version: '{{ tfenv_version }}'

- name: Install Terragrunt environment manager
  ansible.builtin.git:
    repo: https://github.com/tgenv/tgenv.git
    dest: ~/.local/share/tgenv
    version: '{{ tgenv_version }}'

- name: Fetch Terragrunt Commons tags
  ansible.builtin.command:
    chdir: ~/.terragrunt
    cmd: git fetch --tags --force
  failed_when: false
  changed_when: false

- name: Install Terragrunt Commons
  ansible.builtin.git:
    repo: '{{ _github_repo_url }}logikal-io/terragrunt-commons.git'
    dest: ~/.terragrunt
    version: '{{ terragrunt_commons_version }}'

- name: Create tflint installation folder
  ansible.builtin.file: path=~/.local/share/tflint state=directory

- name: Remove existing tflint installation
  become: true
  ansible.builtin.file: path=~/.local/share/tflint state=absent
  when: tflint_version != _current_tflint_version

- name: Download tflint
  ansible.builtin.unarchive:
    src: '{{ _tflint_download_endpoint }}/v{{ tflint_version }}/tflint_linux_amd64.zip'
    dest: ~/.local/share/tflint
    remote_src: true
  when: tflint_version != _current_tflint_version

- name: Install tflint
  become: true
  ansible.builtin.copy: src=~/.local/share/tflint/tflint dest=/usr/local/bin/ mode=0755
  when: tflint_version != _current_tflint_version

- name: Create Terraform plugin cache folder
  ansible.builtin.file: path=~/.cache/terraform/plugin-cache/ state=directory

- name: Install Bash config
  ansible.builtin.copy: src=terraform.bashrc dest=~/.bashrc.d/

- name: Set GitHub Actions environment
  ansible.builtin.shell: >
    echo "$HOME/.local/share/tfenv/bin:$HOME/.local/share/tgenv/bin" >> $GITHUB_PATH
  when: _github_actions
